<form class="search">
  <label for="event-title">Search by title</label>
  <input id="event-title" name="match">
  <button type="submit">Search</button>
</form>

<button class="advanced">Sort & Filter</button>

<section class="advMenuasdfasd"></section>

<ul id="events-results" class="results">
</ul>

<a id="load-more" href="javascript:void(0)">Show more results</a>
