<form class="message-new">
  <h2>Send a message to <%= receiver ? receiver.escape("name") : "someone" %></h2>

  <label for="msg-receiver">CC</label>
  <div class="recipients receiver"></div>

  <input id="msg-subject" name="subject" value="<%= model.escape("subject") %>" placeholder="Subject">
  <textarea id="msg-body" name="body" placeholder="Message body"><%= model.escape("body") %></textarea>

  <button type="submit" class="smallish-button">Send</button>
</form>


<% console.log(receiver) %>
