<form class="message-new">
  <label for="msg-receiver">To<label>
  <div class="receiver"></div>

  <label for="msg-subject">Subject</label>
  <input id="msg-subject" name="subject" value="<%= model.escape("subject") %>">

  <label for="msg-body">Body</label>
  <textarea id="msg-body" name="body"><%= model.escape("body") %></textarea>

  <button type="submit">Send</button>
</form>
