<label id="sort-label" class="form-label">Sort</label>
<form class="sort-criterion">
    <div class="sort">
      <input type="radio" name="sort-criterion" value="last-login" id="sort-last-login">
      <label for="sort-last-login">Last login</label>
    </div>

    <div class="sort">
      <input type="radio" name="sort-criterion" value="proximity" id="sort-proximity">
      <label for="sort-proximity">Proximity</label>
    </div>
</form>

<label id="filter-label" class="form-label">Filter</label>
<form class="filter-criteria">
  <section class="age">
    <h2>Age</h2>
      <div class="age">
        <input id="age-lower" name="age_lower" class="user-age">
      </div>

      <div class="age">
        <label for="age-upper">to</label>
        <input id="age-upper" name="age_upper" class="user-age">
      </div>
  </section>

  <section class="gender">
    <h2>Gender</h2>
      <div class="gender">
        <input type="radio" name="gender" value="female" id="gender-female" class="gender">
        <label for="gender-female" class="gender">Female</label>
      </div>
      <div class="gender">
        <input type="radio" name="gender" value="male" id="gender-male" class="gender">
        <label for="gender-male" class="gender">Male</label>
      </div>
      <div class="gender">
        <input type="radio" name="gender" value="male" id="gender-other" class="gender">
        <label for="gender-other" class="gender">Other</label>
      </div>
  </section>

  <h2>Keyword</h2>
    <input name="user_keyword" id="keyword">

</form>

<label id="name-label" class="form-label">Search by name</label>
<form class="search">
  <label for="user-name">Search by name</label>
  <input id="user-name" name="match">
  <button type="submit">Search</button>
</form>
