<section class="images-modal modal">
  <h2>Photos</h2>
  <ul class="album">
    <% if (collection) { %>
      <% collection.forEach( function(photo) { %>
        <li>
          <img class="photo <%= model._profile && photo.id === model._profile.get("primary_photo_id") ? "selected" : "" %>" data-id="<%= photo.id %>" src="<%= photo.escape("url") %>">
        </li>
      <% }) %>
    <% } %>
    <li id="upload-photo">Add Photo</li>
  </ul>

  <input id="photo-input" type="file" class="my-photo-upload">


</section>
