<section class="profile-main">
  <h2><%= model.escape("username") %></h2>

  <%= model.profile().escape("location") %>
  <%= model.profile().escape("about") %>

  <a href="#/edit">Edit Profile</a>

</section>

<section class="profile-invitations">
  <h2>Invitations</h2>

  <% if (model.invitations) { %>
  <% } %>

  <a href="#">Edit Invitations</a>

</section>

<section class="profile-requests">
  <h2>Requests</h2>

  <% if (model.requests) { %>
  <% } %>

  <a href="#">Edit Requests</a>

</section>