<div class="full-adv-menu">
  <form class="search">
    <label for="user-name">Search by name</label>
    <input id="user-name" name="match">
    <button type="submit">Search</button>
  </form>

  <button class="advanced">Sort & Filter</button>

  <section class="users adv-menu"></section>
</div>

<ul id="users-results" class="search-results">
</ul>

<a class="load-more" id="load-more" href="javascript:void(0)">Show more results</a>
