<div class="full-adv-menu">
  <section class="users adv-menu"></section>
</div>

<ul id="users-results" class="search-results">
</ul>

<a class="load-more" id="load-more" href="javascript:void(0)">Show more results</a>
