<form class="search">
  <label for="user-name">Search by name</label>
  <input id="user-name" name="match">
  <button type="submit">Search</button>
</form>

<button class="advanced">Sort & Filter</button>

<section class="advMenu"></section>

<ul id="users-results" class="results">
</ul>

<a id="load-more" href="javascript:void(0)">Show more results</a>
