<form class="request-new">
  <label for="req-receiver">To<label>
  <input id="req-receiver" name="receiver" value="<%= localStorage.getItem("reqToName") %>">

  <label for="req-details">Details</label>
  <input id="req-details" name="details" value="<%= model.escape("details") %>">

  <button type="submit">Send</button>
</form>
