<form class="request-new">
  <h2>Send a request to <%= receiver ? receiver.escape("name") : "someone" %></h2>

  <label for="req-evt">Event</label>
  <select id="req-evt" name="event[id]">
    <% evts.forEach(function(evt) { %>
      <option value="<%= evt.id %>"><%= evt.escape("title") %></option>
    <% }); %>
  </select>

  <textarea id="req-details" name="details" placeholder="Details (optional)"></textarea>

  <button type="submit" class="smallish-button">Send</button>
</form>
