<form class="request-new">
  <div></div>

  <label for="req-details">Details</label>
  <input id="req-details" name="details">

  <label for="req-evt-id">Event id</label>
  <input id="req-evt-id" name="event[id]">

  <button type="submit">Send</button>
</form>
