<form class="request-new">
  Send to
  <div class="recipients"></div>

  <label for="req-details">Details</label>
  <input id="req-details" name="details">

  <label for="req-evt">Event you would like to attend</label>
  <select id="req-evt" name="event[id]">
    <% evts.forEach(function(evt) { %>
      <option value="<%= evt.id %>"><%= evt.escape("title") %></option>
    <% }); %>
  </select>

  <button type="submit">Send</button>
</form>
