/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */

// RESETS

html, figure, ol, body, ul, li, input, a, button, form, label, textarea, h1, h2, h3, nav, header {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  background: transparent;
  font: inherit;
  text-decoration: none;
  outline: none;
}

.hidden {
  display: none;
}

button, input[type="submit"] {
  -webkit-appearance: none;
  display: inline-block;
  box-sizing: content-box;
  margin: 0;
  width: auto;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
}

// END RESETS

// PREP FOR LAYOUT

html {
  height: 100%;
}

body {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

section.main {
  padding-top: 20px;
  background-color: #ECEBE0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;

  &:after {
    clear: both;
    content: "";
    display: block;
    margin-bottom: 120px;
  }
}

// END PREP FOR LAYOUT

// GENERAL NICE DEFAULTS

input {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  width: 90%;
  border: 1px solid black;
}

textarea {
  background-color: white;
  width: 90%;
  border-radius: 5px;
  height: 40px;
}


h1 {
  font-size: 20px;
  color: black;
}

button, a {
  cursor: pointer;
}


.currentUser {  // TODO: CALL THIS SOMETHING ELSE!! (Do I use this anymore?)
  width: 960px;
  margin: 0 auto;
  padding: 0 5px;
  border: 1px solid #CBCBCB;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: white;
  padding-top: 30px;             //TESTING TESTING
  position: relative;

  &:after {
    clear: both;
    display: block;
    content: "";
  }
}

.I-want-this-centered.white {
  background: white;
  margin-top: 20px;
  padding: 0px;
  border-bottom: 2px solid #bdc3c7;
  width: 940px;
}
