a.events {
  height: 36px;
  width: 36px;
  display: block;
  float: left;
  margin-right: 10px;

  background: image-url("disco.png") no-repeat -2px -5px;
  display: block;
}

// END LOGO

section.events-index {
  float: right;
  width: 620px;
  margin-bottom: 30px;
  background: white;
  position: relative;
  border-bottom: 2px solid #bdc3c7;

  > div > ul {
    width: 620px;
  }

  div, input.time, input.date {
    display: inline-block;

    &.hidden {
      display: none;
    }
  }

  a {
    display: inline;
  }

  a.invite {
    display: block;
    clear: both;
  }

  img {
    height: 80px;
    width: 80px;
    border-radius: 5px;
    display: block;
    float: left;
  }

  li {
    position: relative;
    padding: 20px;
    border-bottom: 1px solid rgb(236, 240, 241);
  }

  p.none {
    display: block;
    text-align: center;
    width: 540px;
    padding: 20px 40px 60px 40px;
    a {
      color: black;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  ul.info {
    margin-left: 20px;
    float: left;
    // padding: 10px 20px;
    max-width: 480px;
    box-sizing: border-box;
    font-size: 14px;

    li {
      padding: 0;
      position: relative;
      color: rgb(127, 140, 141);
      border: 0;

      &.created, &.attendance {
        font-style: italic;
      }

      &.time {
        float: left;
        display: inline;
        position: static;
        padding: 5px 2px 5px 0;
      }

      &.date, &.location {
        float: left;
        display: inline;
        position: static;
        padding: 5px 2px;
      }

      &.time input {
        width: 50px;
      }

      &.date input {
        width: 150px;
      }

      &.invitations, &.created, &.attendance {
        display: block;
        clear: both;

        input {
          width: 60px;
        }
      }

      input {
        display: inline-block;
        margin-top: -5px;
        margin-bottom: -5px;
      }
    }
  }

  h2 {
    line-height: 37px;
    color: rgb(52, 73, 94);
    width: 100%;
    box-sizing: border-box;
    padding: 18px 20px 12px 20px;
    position: relative;
    font-size: 20px;
    font-weight: bold;
  }

  a.button {
    height: 20px;
    background: blue;
    position: absolute;
    right: 9px;
    top: 11px;
    z-index: 2;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    display: block;
    border-radius: 5px;
    padding: 6px 15px 2px 15px;
    color: rgb(238, 238, 238);
    box-shadow: rgb(0, 0, 0) 0px 1px 0px 0px;
    background-color: rgb(88, 97, 111);
  }

  h3 {
    padding-bottom: 5px;
    font-size: 20px;
    a {
      color: rgb(47, 47, 47);
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
  }

}


textarea {
  outline: none;
  border: 1px solid black;
  padding: 5px;
}

button.attendance, button.delete-event {
  font-style: normal;
  display: inline-block;
  //float: right;
  font-size: 12px;
  margin-left: 0px;
  background: #CCC;
  border-radius: 10px;
  padding: 2px 5px;
}

section.invite-menu {
  display: none;
  position: absolute;
  right: 20px;
  top: 50px;
  // border-radius: 5px;
  background: white;
  border: 1px solid #B3B3B3;
  z-index: 15;
  padding: 10px;
  width: 250px;

  &.lonely {
    position: static;
    border: none;
    border-radius: 0;
    padding: 20px;

    h2 {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  ul.selected-users:after {
    clear: both;
    content: "";
    display: block;
  }

  li {
    padding: 5px;
    border: 0;
    position: relative;
    display: block;
    margin: 5px;
    float: left;
  }

  a {
    height: 20px;
    text-align: left;
    padding: 7px 12px 3px 12px;
    color: #737373;
    border-radius: 50px;
    background: #F8F8F8;
    // margin: 15px 0;
  }

  a.invite {
    display: block;
  }

  a:after {
    content: " ×";
    color: #959595;
  }

  button {
    margin: 5px 56px;
  }

  ul.selected-users li {
    float: left;
    margin: 4px;
  }

  &.active {
    display: block;
  }

  input {
    outline: none;
  }
}


// Used this for the new events page. Probably recyclable.

.typical {
  width: 620px;
  float: left;
  background: white;
  padding: 20px;
  box-sizing: border-box;

  h1 {
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
  }

  h2 {
    font-weight: bold;
    font-size: 16px;
    float: left;
    clear: both;
  }

  label {
    float: right;
    // padding: 20px 0;
    p {
      margin-top: 7px;
      float: left;
    }
  }

  div.receiver {
    float: right;
  }

  input[type="text"], input[type="time"], input[type="date"], textarea {
    width: 405px;
    height: 31px;
    float: right;
    border: 1px solid rgb(189, 195, 199);
    padding: 4.8px;
    box-sizing: border-box;
    display: inline;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  input[type="radio"] {
    float: right;
    width: 20px;
    margin-right: 50px;
    margin-left: 10px;
  }

  input[type="radio"] + label {
    float: right;
  }

  button {
    width: 114px;
    height: 36px;
    padding: 8px;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
    background-color: rgb(41, 128, 185);
    box-sizing: border-box;
    margin-top: 20px;
    font-weight: bold;
  }

  textarea {
    height: 80px;
  }

  li {
    min-height: 31px;
    margin-top: 16px;
    border-bottom: 1px dotted #EDF0F1;
  }

  li:last-child {
    border-bottom: 2px solid #EDF0F1;
  }

  li:after {
    display: block;
    content: "";
    clear: both;
  }
}

section.events-index > div > ul > li {
  &:after {
    display: block;
    content: "";
    clear: both;
  }
}

button.show-images {
  width: 128px;
  height: 36px;
  padding: 8px;
  font-size: 16px;
  color: white;
  border-radius: 5px;
  margin-right: 10px;
  background-color: rgb(41, 128, 185);
  box-sizing: border-box;
  margin-top: 20px;
  font-weight: bold;
}
