// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.found-users {
  position: absolute;
}

.left-column {
  width: 320px;
  padding: 0;
  float: left;
}

.right-column {
  width: 618px;
  min-height: 960px;
  float: left;
  border-left: 1px solid rgb(189, 195, 199);

  div.msg-header {
    padding: 20px 20px 10px 20px;
    border-bottom: 4px solid rgb(236, 240, 241);

    h2 {
      font-size: 20px;
      font-weight: bold;
      float: left;
    }

    h3 {
      font-size: 12px;
      clear: left;
    }

    a {
      color: black;
      &:hover {
        text-decoration: underline;
      }
    }

  }

  .message {
    width: 520px;
    padding: 10px 20px 10px 2px;
    float: left;
    h4 {
      margin: 0;
      a {
        float: left;
        display: block;
        font-size: 16px;
        font-weight: bold;
        color: black;
      }

      p {
        float: right;
        display: block;
        font-weight: normal;
        font-size: 12px;
        color: rgb(127, 140, 141);
        margin: 0;
      }

      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }

    p.subject {
      display: block;
      font-weight: normal;
      font-size: 16px;
      color: rgb(127, 140, 141);
      margin: 0;
      padding-bottom: 20px;
    }
  }
}

ul.found-users li {
  float: left;
  background: lightblue;
  padding: 5px;
  border-radius: 5px;
}

h1.messages {
  width: 320px;
  box-sizing: border-box;
  padding: 20px 20px 10px 20px;
  font-size: 36px;
  font-weight: bold;
  border-bottom: 1px solid rgb(236, 240, 241);
}

h2#inbox-header, h2#sent-header {
  float: left;
  color: rgb(127, 140, 141);
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;

  &:hover {
    background: #CCC;
  }
}

h2#inbox-header {
  margin-left: 10px;
}

ul.messages {
  clear: both;
  padding: 20px;
  display: none;

  img {
    border-radius: 50%;
    height: 28px;
    width: 28px;
    display: block;
    float: left;
  }

  &.active {
    display: block;
  }

  > li {
    padding: 10px;
    border-top: 1px solid rgb(189, 195, 199);
    cursor: pointer;

    &:last-child {
      border-bottom: 1px solid #CCC;
    }
  }

  ul.info {
    width: 100%;
    position: relative;

    li {
      float: left;
      display: block;

      &:first-child a {
        display: inline-block;
        color: rgb(47, 47, 47);
        font-weight: bold;
        font-size: 14px;
        margin-left: 22px;
        margin-bottom: 3.5px;
      }

      &:nth-child(2) {
        display: block;
        float: right;
        font-size: 12px;
        padding-top: 3px;
        color: rgb(127, 140, 141);
        margin-bottom: 3.5px;
      }

      &:nth-child(3) {
        clear: right;
        float: right;
        max-width: 250px;
        overflow: hidden;
        font-size: 12px;
        a {
          color: rgb(47, 47, 47);
        }
      }
    }

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }
}

.message-show {
  li.from {
    float: left;
  }

  li.timestamp {
    float: right;
  }

  li.to {
    clear: both;
  }

  a {
    display: inline;
  }

  a.back {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background: #EEE;
    cursor: pointer;
    width: 200px;
    margin: 20px auto;
    display: block;
    &:hover {
      background: #CCC;
    }
  }

  li.body {
    padding: 10px;
  }
}

.new-message-modal {
  width: 357px;
  padding: 0;
  padding: 20px;
  border-radius: 0;
  background: white;

  h2 {
    color: rgb(68, 68, 68);
    background: rgb(236, 240, 241);
    margin: -20px;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 20px;
  }

  label {
    margin-top: 10px;
    float: left;
  }

  textarea {
    border: 1px solid rgb(189, 195, 199);
    width: 300px;
    height: 100px;
    float: right;
    clear: right;
    margin: 5px 0;
  }

  input {
    border: 1px solid rgb(189, 195, 199);
    width: 300px;
    float: right;
    clear: right;
    margin: 5px 0;
  }
}

button.smallish-button {
  background-color: rgb(41, 128, 185);
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  float: left;
  margin: 0 10px;
  padding: 8px;
  float: right;
}

img.round-thumb {
  margin: 10px 20px;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  float: left;
  display: block;
  z-index: 0;
}
