.shady {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

//TODO: This doesn't exactly go here
.transient {
  display: none;
  &.active {
    display: block;
  }
}

.common-modal {
  // width: 960px;
  margin: 0 auto;
  padding: 0 5px;
  border: 1px solid #CBCBCB;
  // border-radius: 5px;
  background-color: white;
  padding: 30px;             //TESTING TESTING
  position: relative;

  div.recipients {
    width: 262px;
  }

  &:after {
    clear: both;
    display: block;
    content: "";
  }
}

select {
  appearance: none;
  -webkit-appearance: none;
// TODO: make this work for firefox too
  outline: none;
  width: 262px;
  font-size: 16px;
  padding: 8px 12px;
  background: white;
  border-image: none;
  display: block;
}
