// THIS IS FOR THE SIDEBAR

div.tabs {
  margin-bottom: 20px;
}

section.search-menu {
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  float: right;

  h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  button {
    width: 50px;
    height: 20px;
    padding: 8px;
    font-size: 16px;
    color: white;
    background-color: rgb(189, 195, 199);
    border-radius: 5px;
    margin-right: 10px;

    &.active {
      background-color: rgb(41, 128, 185);
    }
  }

  // button.search {
  //   margin: 0 auto;
  //   float: none;
  //   display: block;
  // }
}

section.adv-menu {
  float: right;
  display: none;
  background: white;
  width: 100%;

  h2 {
    font-size: 16px;
    font-weight: normal;
    margin-top: 4px;
    margin-bottom: 8px;
    float: left;
  }


  section.age, section.time, section.date {
    &:after {
      clear: both;
      content: "";
      display: block;
    }
    clear: both;
    margin: 17px 0;
    input {
      float: left;
      width: 64px;
      height: 31px;
      padding: 3px;
      box-sizing: border-box;
      margin: 4px 8px;
    }

    h2, label {
      margin-top: 10px;
      float: left;
    }
  }

  form.search {
    margin: 17px 0;
  }


  h3 {
    margin-top: 21px;
    margin-bottom: 7px;
    font-size: 16px;
    text-transform: uppercase;
    color: rgb(127, 140, 141);
    clear: both;
  }

  &.active {
    display: block;
  }

  > label {
    display: block;
    clear: both;
    background: #DFDFDF;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 50px;
    margin: 5px;

    &:hover {
      background: #A9A9A9;
    }
  }

  form {
    display: block;
    clear: both;
    width: 100%;
    border-radius: 5px;
    font-size: 14px;

    &:after {
      clear: both;
      content: "";
      display: block;
    }

  }

  input.user-age {
    width: 20px;
    float: left;
  }

  div.gender, div.sort {
    position: relative;
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    background: #CBCBCB;
    margin: 5px;

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }

  section.age:after {
    content: "";
    display: block;
    clear: both;
  }

  label {
    float: left;
    font-size: 16px;
    height: 22px;
    margin-top: 4px;
  }

  input[type="radio"] {
    display: none;

    &:checked + label {
      &:before {
        background-color: rgb(41, 128, 185);
      }
    }

    + label {

      &:before {
        margin-right: 8px;
        content: "";
        display: block;
        height: 14px;
        width: 14px;
        border: 1px solid #BDC2C6;
        border-radius: 3px;
        float: left;
      }
    }
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }

  li {
    width: 100%;
    clear: both;
    // padding: 2px 0;

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }

  input[type="text"] {
    border: 1px solid #BDC2C6;

    &:hover {
      border-color: rgb(41, 128, 185);
    }
  }

}

section.search {
  display: none;

  &.active {
    display: block
  }
}
