// THIS IS FOR SEARCH RIGHT SIDE

a.load-more {
  position: absolute;
  left: 50%;
  width: 200px;
  text-align: center;
  padding: 5px 20px;
  background: red;
  border-radius: 5px;
  bottom: 20px;
  transform: translateX(-100px);
}

ul.search-results {
  width: 50%;
  position: relative;
  left: 300px;
  padding-bottom: 60px;
}

li.search-result {
  border: 1px solid #dfdfdf;
  padding: 12px;
  margin: 12px;
  border-radius: 5px;
  width: 100%;

  img {
    height: 50px;
    width: 50px;
    display: block;
    border: 1px solid #dfdfdf;
    padding: 2px;
    border-radius: 5px;
    float: left;
  }

  section.profile-info {
    float: left;
    margin-left: 20px;

    a {
      font-weight: bold;
      color: rgb(33, 131, 194);
      font-size: 18px;
    }

  }

  &:after {
    display: block;
    content: "";
    clear: both;
  }
}
