// THIS IS FOR SEARCH RIGHT SIDE

a.load-more {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 620px;
  height: 60px;
  text-align: center;
  padding: 20px;
  clear: both;
  font-weight: bold;
  box-sizing: border-box;
  font-size: 18px;

  &:hover {
    background: red;
    color: white;
  }
}

ul.search-results {
  width: 620px;
  background: white;
  padding-bottom: 60px;
  border: 1px solid #dfdfdf;
}

section.search-body {
  width: 940px;
  margin-top: 20px;
  margin-left: 50%;
  transform: translateX(-470px);
  padding-top: 10px;

  &:after {
    display: block;
    clear: both;
    content: "";
  }
}

li.search-result {
  border-bottom: 1px solid #dfdfdf;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;

  img {
    height: 50px;
    width: 50px;
    display: block;
    border: 1px solid #dfdfdf;
    padding: 2px;
    border-radius: 5px;
    float: left;
  }

  section.profile-info {
    float: left;
    margin-left: 20px;
    max-width: 400px;

    a {
      font-weight: bold;
      color: rgb(33, 131, 194);
      font-size: 18px;
    }

  }

  &:after {
    display: block;
    content: "";
    clear: both;
  }
}


section.draggable {
  position: absolute;
  z-index: 200;
}
