// THIS IS FOR SEARCH

div.tabs > button.tab {
  border-top: 1px solid #B3B3B3;
  border-left: 1px solid #B3B3B3;
  border-right: 1px solid #B3B3B3;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 7px 10px 0 10px;
  margin-right: 20px;
  outline: none;
  float: left;
  position: relative;
  bottom: -1px;
  background: white;

  &.active {
    border-bottom: 1px solid white;
  }
}

div.tabs {
  margin-bottom: 20px;
  border-bottom: 1px solid #B3B3B3;
  position: fixed;
  left: 50%;
  transform: translateX(-470px);
  top: 123px;
  z-index: 5;
}

div.tabs:after {
  clear: both;
  content: "";
  display: block;
}

section.search {
  display: none;

  &.active {
    display: block
  }

  div.full-adv-menu {
    width: 200px;
    position: fixed;
    top: 150px;
    border: 1px solid #B3B3B3;
    border-radius: 5px;
    padding: 5px;
    background: white;
  }
}

a.load-more {
  position: absolute;
  left: 50%;
  width: 200px;
  text-align: center;
  padding: 5px 20px;
  background: red;
  border-radius: 5px;
  bottom: 20px;
  transform: translateX(-100px);
}

ul.search-results {
  width: 50%;
  position: relative;
  left: 300px;
  padding-bottom: 60px;
}

li.search-result {
  border: 1px solid #dfdfdf;
  padding: 12px;
  margin: 12px;
  border-radius: 5px;
  width: 100%;

  img {
    height: 50px;
    width: 50px;
    display: block;
    border: 1px solid #dfdfdf;
    padding: 2px;
    border-radius: 5px;
    float: left;
  }

  section.profile-info {
    float: left;
    margin-left: 20px;

    a {
      font-weight: bold;
      color: rgb(33, 131, 194);
      font-size: 18px;
    }

  }

  &:after {
    display: block;
    content: "";
    clear: both;
  }
}

section.adv-menu {
  background-color: white;
  padding: 7px;

  > label {
    display: block;
    clear: both;
    background: #DFDFDF;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 50px;
    margin: 5px;

    &:hover {
      background: #A9A9A9;
    }
  }

  form {
    display: none;
    clear: both;
    width: 50%;
    margin-left: 20px;
    border: 1px solid #CBCBCB;
    border-radius: 5px;
    width: 120px;
    font-size: 14px;

    &.active {
      display: block;
    }

    &:after {
      clear: both;
      content: "";
      display: block;
    }

  }

  input.user-age {
    width: 20px;
    float: left;
  }

  div.gender, div.sort {
    position: relative;
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    background: #CBCBCB;
    margin: 5px;

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }

  section.age:after {
    content: "";
    display: block;
    clear: both;
  }

  label {
    float: left;
  }

  input[type="radio"] {
    width: 20px;
    float: left;
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

// TODO: THIS DOESN'T GO HERE!!

section.user-show {

  width: 948px;
  margin: 0 auto;
  padding: 0 5px;
  border-left: 1px solid #CBCBCB;
  border-right: 1px solid #CBCBCB;
  background-color: white;
  //padding-top: 30px;
  padding-top: 100px;

  section.left-side {
    width: 50%;
    float: left;
  }

  section.right-side {
    width: 50%;
    float: left;
  }

  figure {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin: 0 auto;
  }

  .request-button {
    color: black;
    font-weight: bold;
    width: 300px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid red;
    text-align: center;
    text-decoration: none;
    padding: 8px 0 5px 0;
    display: block;
    appearance: none;
    margin: 20px auto;
  }

  .request-button:hover {
    background-color: red;
    color: white;
  }

  ul.nav {
    width: auto;
    display: block;
    margin: 0 auto;
    width: 300px;

    li {
      float: left;
      margin: 5px;
    }
  }

  ul.nav:after {
    display: block;
    clear: both;
    content: "";
  }

  ul li {
    display: block;
  }

  input[type=text] {
    margin: 20px auto;
    display: block;
    width: 250px;
    text-align: center;

    &#user-name {
      font-size: 25px;
    }
  }

  section.profile-subheader {
    text-align: center;
    margin-bottom: 30px;

    a {
      display: inline-block;
      margin: 10px 0;
    }
  }

  section.established, section.gender {
    display: block;
    width: 200px;
    margin: 0 auto;
    border: 1px solid #CBCBCB;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    padding-bottom: 20px;

    h2 {
      margin-bottom: 10px;
    }

    input {
      margin-left: 30%;
      display: block;
      float: left;
      width: 20px;
      clear: both;
    }

    label {
      float: left;
    }

    &:after {
      display: block;
      clear: both;
      content: "";
    }
  }

  input#user-age {
    width: 30px;
  }

  ul.attendee-images {
    padding: 20px;
  }

  ul.attendee-images li {
    position: relative;
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 5px;

    a {
      display: none;
      text-align: center;
      padding-top: 20px;
      height: 30px;
      width: 50px;
      position: absolute;
      bottom: 0;
      right: 0;
      background: #DBDBDB;
      font-size: 10px;
      word-wrap: break-word;
      text-decoration: none;
      color: #8B8B8B;
      border-radius: 5px;
    }

    &:hover a {
      display: block;
    }
  }

}

// END SEARCH
