// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section.profile-main {
  height: 160px;
  width: 260px;
  padding: 0 10px;
  margin: 10px 0;
  text-align: center;
  float: left;
}

section.profile-invitations section.profile-requests {
  float: right;
  width: 700px;
  margin-top: 10px;
  margin-bottom: 20px;
}

section.current-user:after {
  content: "";
  display: block;
  clear: both;
}

textarea {
  outline: none;
  border: 1px solid black;
  padding: 5px;
}

section.advMenu {
  background-color: lightgray;

  form {
    position: relative;
    float: left;
    width: 50%;
  }

  input.user-age {
    width: 20px;
    float: left;
  }

  div.gender, div.sort {
    position: relative;
    width: 200px;
    padding: 5px;
    border-radius: 10px;
    background: red;
    margin: 5px;
  }

  div.gender:after, div.sort:after {
    content: "";
    display: block;
    clear: both;
  }

  section.age:after {
    content: "";
    display: block;
    clear: both;
  }

  label {
    float: left;
  }

  input[type="radio"] {
    width: 20px;
    float: left;
  }
}

section.advMenu:after {
  content: "";
  display: block;
  clear: both;
}
