// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.current-user-for-real {
  width: 100%;
  height: 100%;
  background-color: #F0F0F0;
  //padding-bottom: 120px;

  .I-want-this-centered {
    width: 1000px;
    padding: 10px;
    margin: 0 auto;

    &:after {
      content: "";
      display: block;
      clear: both;
    }


  }

  &:before {
    display: block;
    content: "";
    margin-top: 57px;
  }

  &:after {
    clear: both;
    display: block;
    content: "";
    margin-bottom: 120px;
    border: 1px solid black;
  }

  section.left-side {
    float: left;
    width: 280px;
  }

  section.right-side {
    margin-left: 20px;
    width: 700px;
    float: left;
  }

  section.profile-main {
    height: 160px;
    width: 280px;
    margin: 0 auto;

    div.profile-subheader {
      background: #F4F6F9;
      width: 240px;
      height: 40px;
      padding: 20px 20px 0 20px;
      position: relative;

      img.profile-photo {
        position: absolute;
        left: 20px;
        top: 20px;
        border: 2px solid red;
        border-radius: 50%;
      }

      h2 {
        width: 50px;
        margin-left: 50px;
      }
    }

    div.profile-body {
      width: 260px;
      padding: 0 10px;
      background: white;

      a {
        margin-left: 60px
      }
    }
  }

}

section.contacts-list {
  width: 280px;
  margin: 0 auto;
  background: white;
  h2 {
    background: #F4F6F9;
    padding: 5px;
    padding-top: 12px;
    font-size: 18px;
    height: 27px;
    color: rgb(88, 97, 111);
  }
}

section.events-index {
  float: right;
  width: 700px;
  margin-bottom: 30px;
  background: white;
  position: relative;

  a {
    display: inline;
  }

  li {
    position: relative;
  }

  ul.info li {
    padding: 5px 10px;
    position: relative;
  }

  section.invite-menu {
    display: none;
    position: absolute;
    right: 20px;
    top: 50px;
    border-radius: 5px;
    background: white;
    border: 1px solid #B3B3B3;
    z-index: 15;
    padding: 5px;
    width: 250px;

    ul.selected-users:after {
      clear: both;
      content: "";
      display: block;
    }

    li {
      position: relative;
      display: block;
      margin: 5px;
      float: left;
      width: 100%;
      margin-right: 5px;
    }

    a, button {
      display: block;
      height: 20px;
      text-align: left;
      padding: 7px 12px 3px 12px;
      color: #737373;
      border-radius: 50px;
      background: #F8F8F8;
      margin-right: 0;

      &:after {
        display: block;
        float: right;
        content: "X";
        color: #959595;
      }
    }

    // button {
    //   display: block;
    //   height: 30px;
    //   width: 150px;
    //   text-align: left;
    //   padding: 6px 12px 4px 12px;
    //   color: #737373;
    //   border: 1px solid black;
    //   border-radius: 5px;
    //   margin: 0 auto;
    //   text-align: center;
    //   margin-top: 5px;
    // }

    button:hover, a:hover {
      background: #F2F2F2;
      color: black;
    }

    &.active {
      display: block;
    }

    input {
      outline: none
    }
  }

  h2 {
    padding: 5px;
    padding-top: 12px;
    font-size: 18px;
    height: 27px;
  }

  a.button {
    height: 20px;
    background: blue;
    position: absolute;
    right: 9px;
    top: 11px;
    z-index: 2;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    display: block;
    border-radius: 5px;
    padding: 6px 15px 2px 15px;
    color: rgb(238, 238, 238);
    box-shadow: rgb(0, 0, 0) 0px 1px 0px 0px;
    background-color: rgb(88, 97, 111);
  }

  h3 {
    width: 670px;
    background: #F4F6F9;
    padding: 10px 15px;
    font-size: 16px;
    color: rgb(88, 97, 111);
  }

}


textarea {
  outline: none;
  border: 1px solid black;
  padding: 5px;
}



section.user-show:after {
  content: "";
  display: block;
  clear: both;
}

img.selected {
  border: 2px solid blue;
}

img.full-photo {
  display: block;
  margin: 0 auto;
}

// THIS IS FOR THE REQUEST MODAL

section.new-request-modal {
  display: none;
  width: 500px;
  z-index: 10;

  &.active {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-250px);
  }
}

// END REQUEST MODAL
