// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.I-want-this-centered {
  width: 940px;
  padding-top: 10px;
  margin: 20px auto 0 auto;

  &:after {
    content: "";
    display: block;
    clear: both;
  }

  &:after {
    clear: both;
    display: block;
    content: "";
  }

  section.right-side {
    float: right;
    width: 300px;
  }

  section.left-side {
    width: 620px;
    float: left;
  }

  section.profile-main {
    width: 300px;
    margin-bottom: 20px;
    position: relative;
    top: 0;
    z-index: 1;
    border-bottom: 2px solid #bdc3c7;

    a {
      display: inline;
      color: inherit;
      &:hover {
        text-decoration: underline;
      }
    }

    figure.profile-photo {
      &:before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4));
        z-index: -1;
        content: "";
        height: 300px;
      }

      img.profile-photo {
        width: 300px;
        height: 300px;
        overflow: hidden;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
      }

      display: table-cell;
      vertical-align: bottom;
      padding: 10px 20px;
      box-sizing: border-box;
      text-shadow: #2f2f2f 0 0 20px;
      color: white;
      width: 300px;
      height: 300px;

      h2 {
        font-size: 24px;
        margin-bottom: 5px;
      }
      h3 {
        font-size: 16px;
      }
    }

    div.profile-body {
      width: 100%;
      padding: 20px;
      background: white;
      box-sizing: border-box;

      a {
        color: #7f8c8d;
        text-transform: uppercase;
        font-size: 20px;
      }
    }
  }

}

section.contacts-list {
  width: 100%;
  padding: 20px;
  background: white;
  box-sizing: border-box;
  border-bottom: 2px solid #bdc3c7;

  h2 {
    font-size: 20px;
    color: #34495e;
    margin-bottom: 20px;
  }

  li:first-child {
    border: none;
  }

  li {
    font-size: 16px;
    font-weight: bold;
    height: 20px;
    padding: 20px 0;
    border-top: 1px solid #ecf0f1;
  }

  img {
    float: left;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    display: block;
    margin: -6px 10px;
  }
}


section.user-show:after {
  content: "";
  display: block;
  clear: both;
}

img.selected {
  outline: 2px solid blue;
}

img.full-photo {
  display: block;
  margin: 0 auto;
}

div.contacts-body {

  li:after {
    clear: both;
    display: block;
    content: "";
  }

  a {
    text-decoration: none;
    color: black;

    &:hover {
      text-decoration: underline;
    }
  }

  button {
    display: none;
    font-size: 12px;
    margin-left: 10px;
    background: #CCC;
    border-radius: 10px;
    padding: 2px 5px;
  }

}

li.attendance {
  position: relative;
}

.images-modal {
  h2 {
    text-align: center;
    font-size: 16px;
  }

  li {
    float: left;
    margin: 10px;
  }

  ul:after {
    display: block;
    clear: both;
    content: "";
  }
}

h1.user-name {
  font-size: 48px;
  height: 60px;
}

h2.user-location {
  font-size: 20px;

  a {
    display: inline;
    color: black;

    &:hover {
      text-decoration: underline;
    }
  }
}

div.user-info {
  background: white;
  padding: 20px;
  border-bottom: 2px solid #bdc3c7;
}

div.user-nav {
  background: white;
  padding: 20px;
  border-bottom: 2px solid #bdc3c7;
  margin: 20px 0;

  ul:after {
    content: "";
    display: block;
    clear: both;
  }

  li {
    background-color: rgb(41, 128, 185);
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    float: left;
    margin: 0 10px;
    a {
      padding: 15px;
      color: inherit;
    }
  }
}
