<a class="facebook" href="/auth/facebook">Sign up via Facebook</a>

<div class="divider">or</div>

<form class="sign-up" method="POST" action="/users/">
  <input type="hidden" name="authenticity_token" value=<%= window.authenticityToken %>>
  <input id="user-username" name="user[email]" placeholder="Email">

  <input type="password" id="user-password" name="user[password]" placeholder="Password">
  <button type="submit">Sign Up</button>
</form>
