<a class="facebook" href="/auth/facebook">Log In With Facebook</a>

<div class="divider">or</div>

<form class="sign-in" method="POST" action="/session/">
  <input type="hidden" name="authenticity_token" value=<%= window.authenticityToken %>>
  <input id="user-username" name="user[username]" value="Username">

  <input id="user-password" name="user[password]" value="Password">
  <button type="submit">Sign In</button>
</form>

Forgot your password?