<a class="facebook" href="/auth/facebook"><figure></figure>Sign In With Facebook</a>

<div class="divider">or</div>

<%= loginErrors ? "Email or password is incorrect" : "" %>

<form class="sign-in" method="POST" action="/session/">
  <input type="hidden" name="authenticity_token" value=<%= window.authenticityToken %>>
  <input id="user-username" name="user[email]" placeholder="Email">

  <input type="password" id="user-password" name="user[password]" placeholder="Password">
  <button type="submit">Sign In</button>
</form>

<a class="forgot-password href="#">Forgot your password?</a>
