<h1>Sign In</h1>
<form class="sign-in" method="POST" action="/session/">
  <input type="hidden" name="authenticity_token" value=<%= window.authenticityToken %>>
  <label for="user-username" value="">Username</label>
  <input id="user-username" name="user[username]">

  <label for="user-password">Password</label>
  <input type="password" id="user-password" name="user[password]">
  <button type="submit">Sign In</button>
</form>