<section class="sort-method">
  <h1>Sort by</h1>
  <input type="radio" name="sort-method" value="last-login" id="sort-last-login">
  <label for="sort-last-login">Last login</label>
  <input type="radio" name="sort-method" value="proximity" id="sort-proximity">
  <label for="sort-proximity">Proximity</label>
</section>

<section class="filter-criteria">
  <h1>Filter by</h1>

  <h2>Age</h2>
    <label for="age-lower">Between</label>
    <input id="age-lower" name="age-lower">
    <label for="age-upper">and</label>
    <input id="age-upper" name="age-upper">

  <h2>Gender</h2>
    <input type="radio" name="gender-criterion" value="female" id="gender-female">
    <label for="gender-female">Female</label>
    <input type="radio" name="gender-criterion" value="male" id="gender-male">
    <label for="gender-male">Male</label>
    <input type="radio" name="gender-criterion" value="male" id="gender-other">
    <label for="gender-other">Other</label>

  <h2>Keyword</h2>
    <input name="keyword" id="keyword">

</section>