<ul class="selected-users">
  <% if(model && model.get("name")) { %>
    <li data-user-id="<%= model.id %>" class="autofill"></li>
  <% } %>
</ul>
<input name="<%= name %>" type="text" placeholder="Name">
<ul class="found-users">
</ul>
