<ul class="selected-users">
<% console.log("THE MODEL ISSSS", model) %>
  <% if(model && model.get("name")) { %>
    <li data-user-id="<%= model.id %>"><a href="javascript:void(0)"><%= model.escape("name") %></a></li>
  <% } %>
</ul>
<input name="<%= name %>" type="text" placeholder="Username">
<ul class="found-users">
</ul>
