<div class="tabs">
  <button class="tab active" id="users-search" data-models-name="users">Users</button>
  <button class="tab" id="events-search" data-models-name="events">Events</button>
</div>

<section id="users-search" class="search active">
  <%= JST["users/usersSearch"]() %>
</section>

<section id="events-search" class="search">
  <%= JST["events/eventsSearch"]() %>
</section>
