<section class="welcome-body">

  <section class="welcome">

    <figure class="brand"></figure>
    <h1>Welcome Home</h1>

    <p class="welcome">
      Find established locals to welcome you to your new home, or connect with interesting newcomers from around the world.
    </p>

    <a class="sign-up" href="#">Sign Up</a>
    <a class="sign-in" href="#">Sign In</a>

  </section>

  <section class="wax-paper">
  </section>

  <section class="signInModal">
    <%= JST["_signIn"]() %>
  </section>

  <section class="signUpModal">
    <%= JST["_signUp"]() %>
  </section>

</section>


